<div class="m-5 mx-auto w-50">
  <% if @posts.exists? %>
    <%= render PostComponent.with_collection(@posts, current_user: current_user) %>
  <% else %>
    <p>たくさんフォローしてタイムラインを面白い投稿でいっぱいにしよう</p>
    <%= link_to '友達を見つけに行く', users_path %>
  <% end %>
</div>
